:root {
  --color-primary: #e16b8c;
  --color-primary-fade: #{transparentize(#e16b8c, 0.8)};
  --color-primary-fade-100: #{transparentize(#e16b8c, 0.95)};
  --color-primary-fade-300: #{transparentize(#e16b8c, 0.85)};
  --color-secondary: #ff9900;
  --color-secondary-fade-100: #{transparentize(#ff7b00, 0.95)};
  --color-secondary-fade: #{transparentize(#ff7b00, 0.92)};
  --color-dark: #446;
  --color-dark-fade-100: #{transparentize(#446, 0.95)};
  --color-dark-fade: #{transparentize(#446, 0.8)};
  --color-contrasting: #0080ff;
  --color-contrasting-fade-100: #{transparentize(#0080ff, 0.98)};
  --color-contrasting-fade-300: #{transparentize(#0080ff, 0.95)};
  --color-contrasting-fade: #{transparentize(#0080ff, 0.9)};
}

header,
aside,
.page-walker-markdown {
  color: var(--color-dark);
}

* {
  box-sizing: border-box;
}

header.doc-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: white;
  box-shadow: 0 0 4px var(--color-dark-fade);
  position: relative;
  z-index: 1;
  a.button-link.doc-nav-logo-link {
    display: flex;
    align-items: center;
    float: left;
    padding: 0 8px 0 0;
    color: inherit;
    user-select: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    > img {
      width: 48px;
      height: 48px;
      + * {
        margin: 0 8px;
      }
    }
  }
  .doc-nav-operations {
    position: absolute;
    right: 16px;
  }
}

main.doc-content {
  height: calc(100vh - 48px);
  display: flex;
  > aside.doc-aside {
    height: calc(100vh - 48px);
    padding: 16px 0;
    flex: 200px 0 0;
    box-shadow: var(--color-dark-fade) 0 0 4px;
    a {
      display: block;
    }
  }
}

article {
  padding: 24px;
  flex-grow: 1;
  overflow: auto;
}

a.button-link,
a.button-link {
  display: inline-block;
  align-items: center;
  margin: 0 2px;
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
  &:visited,
  & {
    color: inherit;
  }
  &:hover {
    background: #f4f4f4;
  }
  &:active {
    background: #ddd;
  }
  &.active {
    color: var(--color-primary);
  }
  outline: none;
  &:focus-visible {
    box-shadow: 0 0 0 4px #8cbaff80;
  }
}

.doc-button {
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  background: white;
  border: 1px solid var(--color-primary);
  outline: none;
  &:hover {
    background: #fcf1f1;
  }
  &:active {
    background: rgb(243, 202, 202);
  }
}

.doc-nav a.button-link {
  text-align: center;
  min-width: 180px;
}
