@import './mixins.scss';

header,
aside {
  overflow: auto;
  color: var(--color-dark);
}

* {
  box-sizing: border-box;
}
article {
  padding: 24px;
}

dd,
dl,
dt,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
}
