.demo-player {
  flex-grow: 1;
  border-radius: 4px;
  overflow: hidden;
  .demo-player-inner {
    border: 2px solid var(--color-contrasting-fade);
    margin-top: 12px;
  }
  .demo-live {
    box-shadow: 0 2px 4px var(--color-contrasting-fade);
    overflow: auto hidden;
    padding: 24px;
    border-radius: 4px;
  }
  .demo-code {
    border-radius: 4px;
    > pre {
      margin: 0 !important;
      border: 0 !important;
      background-color: transparent !important;
    }
  }
}
