.demo-player {
  flex-grow: 1;
  overflow: hidden;
  border-radius: 4px;
  .demo-player-inner {
    margin-top: 12px;
    background-color: var(--color-dark-fade-100);
    border: 2px solid var(--color-dark-fade-300);
    border-radius: 2px;
  }
  .demo-live {
    position: relative;
    padding: 24px;
    overflow: auto hidden;
    background-color: #fff;
    border-radius: 2px;
  }
  .demo-control {
    display: block;
    width: 100%;
    color: var(--color-dark);
    font-weight: 700;
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    line-height: 36px;
    text-align: center;
    background-color: #fff;
    border: 0;
    outline: 0;
    transform-origin: top;
    cursor: pointer;
    transition: all 0.06s, box-shadow 0.2s;
    user-select: none;
    &.active {
      border-radius: 2px 2px 12px 12px;
      box-shadow: 0 4px 2px -2px var(--color-contrasting);
    }
    &:hover,
    &:focus-visible {
      background: var(--color-contrasting-fade-100);
    }
    &:active {
      font-size: 14px;
      background: var(--color-contrasting-fade-100);
      transform: scaleY(0.92);
    }
    &:focus-visible {
      box-shadow: 0 0 0 4px #8cbaff80;
    }
  }
  .demo-code {
    pre {
      margin: 0 !important;
      background-color: transparent !important;
      border: 0 !important;
      border-radius: 0 0 12px 12px;
      > code {
        // font-size: 16px !important;
      }
    }
  }
}
