.sf-button {
  cursor: pointer;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 4px;
  outline: 0;
  box-shadow: 0 0 0 0 var(--color-primary);
  background-color: white;
  padding: 6px;
  transition: box-shadow 0.3s;
  position: relative;
  transition: all 0.06s, box-shadow 0.2s;
  &:focus-visible {
    box-shadow: 0 0 0 4px var(--color-primary-fade-300);
  }
  &:hover {
    background-color: var(--color-primary-fade-200);
  }
  &:active {
    transform: scale(0.95);
    background-color: var(--color-primary-fade-300);
  }

  .sf-hair {
    width: 100%;
    height: 10px;
    background-color: pink;
    position: absolute;
    top: -10px;
    left: 0;

    &::before {
      content: '';
      display: block;
      position: absolute;
      right: -20%;
      top: -40px;
      width: 70%;
      height: 30px;
      border-radius: 50% 0;
      border-bottom: rgb(255, 230, 0) 20px solid;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: -20%;
      top: -10px;
      width: 70%;
      height: 70px;
      border-radius: 0 50%;
      border-bottom: rgb(255, 230, 0) 20px solid;
      transform: scaleY(-1);
    }
  }
}
