@import './mixins.scss';

.st-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
  color: currentColor;
  font-size: 14px;
  vertical-align: middle;
  background: transparent;
  border-radius: 3px;
  outline: 0;
  transition: all 0.1s, outline 0s;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.st-button--block {
    display: block;
    width: 100%;
  }

  &:focus-visible {
    outline: 2px dashed var(--color-primary);
  }
}

.st-button__content {
  vertical-align: middle;
}

.st-button--default {
  border: 1px solid var(--color-dark);
  &:not(:disabled) {
    color: var(--color-dark);

    &:hover,
    &:focus-visible {
      background: var(--color-dark-fade-100);
      border-color: transparent;
    }
    &:active {
      background: var(--color-dark-fade-200);
      border-color: transparent;
    }
  }
  &:disabled {
    color: var(--color-dark-fade-200);
    border-color: var(--color-dark-fade-100);
  }
}

.st-button--primary {
  border: 1px solid var(--color-primary);

  &:not(:disabled) {
    color: var(--color-primary);

    &:hover,
    &:focus-visible {
      background: var(--color-primary-fade-100);
      border-color: transparent;
    }
    &:active {
      background: var(--color-primary-fade-200);
      border-color: transparent;
    }
  }
  &:disabled {
    color: var(--color-primary-fade-200);
    border-color: var(--color-primary-fade-100);
  }

  &.st-button--solid {
    color: white;
    background: var(--color-primary);
    border-color: transparent;
    &:not(:disabled) {
      &:hover,
      &:focus-visible {
        background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)) var(--color-primary);
      }
      &:active {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) var(--color-primary);
      }
    }
    &:disabled {
      background: var(--color-primary-fade-200);
    }
  }
}

.st-button--textual:not(:disabled) {
  color: var(--color-dark);
  border: 0;
  &:hover,
  &:focus-visible {
    background: var(--color-dark-fade-100);
  }
  &:active {
    background: var(--color-dark-fade-200);
  }
}
.st-button--textual:disabled {
  color: var(--color-dark-fade-200);
  border: 0;
}
