@import './mixins.scss';

.st-link {
  text-decoration: none;

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.st-link--default {
  border-radius: 2px;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px #8cbaff80;
  }
}

.st-link--button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-height: 40px;
  padding: 12px 20px;
  color: currentColor;
  font-size: 14px;
  background-color: transparent;
  border-radius: 2px;
  outline: 0;
  outline-offset: 0;
  cursor: pointer;
  transition: all 0.1s, outline 0s;

  &.st-link--active {
    color: var(--color-primary);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-dark-fade-100);
  }
  &:active {
    background-color: var(--color-dark-fade-200);
  }
  &:focus-visible {
    outline: 2px dashed var(--color-primary);
  }
}
