@import '🦌/mixins.scss';

main.doc-layout {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 48px);
  .doc-aside {
    flex: 200px 0 0;
    overflow: auto;
    background-color: white;
    border-right: 1px solid var(--color-dark-fade-200);

    dt {
      margin-top: 20px;
      margin-bottom: 0.3em;
      padding-left: 14px;
      color: var(--color-dark-fade-400);
      font-size: 14px;
    }

    a {
      display: block;
    }
    &:not(.doc-aside--expanded) {
      display: none;
    }
    @include tablet- {
      position: absolute;
      z-index: 1;
      width: 200px;
      & + * {
        position: absolute;
        z-index: 1;
      }
      &.doc-aside--expanded + * {
        transform: translateX(200px);
      }
    }
  }
  .doc-content {
    flex-grow: 1;
    overflow: auto;
    > article {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
