.page-walker-markdown {
  code {
    color: #c7257e;
    background: #f9f2f6;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: Consolas, 'Courier New', Courier, FreeMono, monospace;
  }

  table {
    text-align: left;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 24px;
  }
  th,
  td {
    padding: 8px;
    &:not(:last-child) {
      padding-right: 36px;
    }
  }

  tbody > tr:nth-child(odd) {
    background: #fafafa;
  }
  th {
    border-bottom: 1px solid #ddd;
  }
  td {
    border-bottom: 1px solid #eee;
  }

  h3 {
    margin-top: 48px;
    padding: 12px;
    transform: translateX(-12px);
    border-radius: 8px;
    color: var(--color-primary);
    background: linear-gradient(6deg, #f3e3da81, #ffcece81);
    box-shadow: -4px -2px;
  }
}
