.page-walker-markdown {
  line-height: 1.35;
  code {
    background: linear-gradient(45deg, #f2f2f2, #fcfcfc, #f2f2f2);
    border-radius: 3px;
    padding: 2px 4px;
    margin: 2px;
    font-family: Consolas, 'Courier New', Courier, FreeMono, monospace;
  }

  table {
    text-align: left;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 24px;
    code {
      color: var(--color-primary);
      background: var(--color-primary-fade-100);
    }
  }
  th,
  td {
    padding: 8px;
    &:not(:last-child) {
      padding-right: 36px;
    }
  }

  tbody > tr:nth-child(odd) {
    background: #fafafa;
  }
  th {
    border-bottom: 1px solid #ddd;
  }
  td {
    border-bottom: 1px solid #eee;
  }

  h2 {
    font-size: 42px;
  }
  h3 {
    margin: 0;
    font-size: 35px;
    padding: 12px;
    transform: translateX(-12px);
    border-radius: 8px;
    color: var(--color-primary);

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      bottom: 6px;
      left: 20px;
      width: 300px;
      height: 16px;
      box-shadow: -12px -8px 0 6px var(--color-contrasting-fade-200),
        2px -14px 0 6px var(--color-contrasting-fade-100);
      background: linear-gradient(
        6deg,
        var(--color-primary-fade-100),
        var(--color-primary-fade-300)
      );
    }
  }

  a {
    border-radius: 4px;
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px #8cbaff80;
    }
  }
  p a,
  ul a {
    &,
    &:visited {
      color: var(--color-primary);
    }
    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
    }
    &:active {
      background: var(--color-primary);
      color: white;
    }
  }
  h3 a {
    display: block;
    filter: drop-shadow(-2px 2px 0px #fff);
    text-decoration: none;
    position: relative;

    &,
    &:visited {
      color: var(--color-primary);
    }

    @supports (-webkit-background-clip: text) {
      &:not(:hover):not(:focus-visible)::first-letter {
        background-image: linear-gradient(130deg, #f11717 20%, var(--color-primary) 55%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
    }
    @supports (background-clip: text) {
      &:not(:hover):not(:focus-visible)::first-letter {
        background-image: linear-gradient(130deg, #f11717 20%, var(--color-primary) 55%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &::after {
      color: transparent;
      content: '#';
      position: relative;
      left: 8px;
      transition: all 0.1s;
    }
    &:hover,
    &:focus-visible {
      color: var(--color-secondary);
      &::after {
        color: var(--color-dark-fade-300);
      }
    }
  }
}

.page-walker {
  .page-walker-markdown-demo-section-divider {
    margin: 24px 48px;
  }
  > section {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -24px;
      left: 48px;
      right: 48px;
      border-top: 1px dotted #00000016;
    }
    margin: 48px 0;

    display: flex;
    &.page-walker-markdown-demo-section > div:first-child {
      flex: 388px 0 0;
      margin-right: 24px;
    }
  }
}
