@import './mixins.scss';

.st-button {
  position: relative;
  display: inline-block;
  height: 36px;
  padding: 0 10px;
  color: currentColor;
  font-size: 14px;
  line-height: 36px;
  background-color: transparent;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  transition: all 0.1s, box-shadow 0.3s;

  &.st-button--default {
    color: var(--color-dark-fade-700);
    border: 1px solid var(--color-dark-fade-700);
    box-shadow: 0 0 0 0 var(--color-dark-fade-400);

    &:hover,
    &:focus-visible {
      background-color: var(--color-dark-fade-200);
      border-color: var(--color-dark-fade-200);
    }
    &:active {
      background-color: var(--color-dark-fade-300);
      border-color: var(--color-dark-fade-300);
    }
  }
  &.st-button--primary {
    color: var(--color-primary-darken);
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 0 0 var(--color-primary-fade-500);

    &:hover,
    &:focus-visible {
      background-color: var(--color-primary-fade-300);
      border-color: var(--color-primary-fade-300);
    }
    &:active {
      background-color: var(--color-primary-fade-400);
      border-color: var(--color-primary-fade-400);
    }
  }
  &.st-button--textual {
    border: 0;
    &:hover,
    &:focus-visible {
      background-color: var(--color-dark-fade-200);
    }
    &:active {
      background-color: var(--color-dark-fade-300);
    }
  }
  &.st-button--block {
    display: block;
    width: 100%;
  }

  &:not(.st-button--block) + .st-button:not(.st-button--block) {
    margin-left: 10px;
  }
}
