:root {
  --color-primary: #f3538b;
  --color-primary-fade-100: #{transparentize(#f3538b, 0.9)};
  --color-primary-fade-200: #{transparentize(#f3538b, 0.6)};
  --color-secondary: #f90;
  --color-dark: #446;
  --color-dark-fade-100: #{transparentize(#446, 0.9)};
  --color-dark-fade-200: #{transparentize(#446, 0.6)};
  --color-contrasting: #0080ff;
  --color-contrasting-fade-100: #{transparentize(#0080ff, 0.9)};
  --color-contrasting-fade-200: #{transparentize(#0080ff, 0.6)};
  --color-danger: #f73c2f;
  --color-danger-fade-100: #{transparentize(#f73c2f, 0.9)};
  --color-danger-fade-200: #{transparentize(#f73c2f, 0.6)};
  --color-spin: currentColor;
}

$mp: 2, 5, 10, 20, 30, 50;
@each $size in $mp {
  .m-#{$size} {
    margin: #{$size}px !important;
  }
  .mt-#{$size},
  .my-#{$size} {
    margin-top: #{$size}px !important;
  }
  .mr-#{$size},
  .mx-#{$size} {
    margin-right: #{$size}px !important;
  }
  .mb-#{$size},
  .my-#{$size} {
    margin-bottom: #{$size}px !important;
  }
  .ml-#{$size},
  .mx-#{$size} {
    margin-left: #{$size}px !important;
  }

  .p-#{$size} {
    padding: #{$size}px !important;
  }
  .pt-#{$size},
  .py-#{$size} {
    padding-top: #{$size}px !important;
  }
  .pr-#{$size},
  .px-#{$size} {
    padding-right: #{$size}px !important;
  }
  .pb-#{$size},
  .py-#{$size} {
    padding-bottom: #{$size}px !important;
  }
  .pl-#{$size},
  .px-#{$size} {
    padding-left: #{$size}px !important;
  }
}

.m-auto {
  margin: auto !important;
}
.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.row,
.col,
.col-reverse {
  display: flex;
}
.col {
  flex-direction: column;
}
.col-reverse {
  flex-direction: column-reverse;
}
.row-reverse {
  flex-direction: row-reverse;
}

$justify-content: (
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
  start: flex-start,
  end: flex-end,
  stretch: stretch,
);
@each $k, $v in $justify-content {
  .justify-#{$k} {
    justify-content: $v;
  }
  .align-content-#{$k} {
    align-content: $v;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap;
}

$align-items: (
  center: center,
  start: flex-start,
  end: flex-end,
  stretch: stretch,
);
@each $k, $v in $justify-content {
  .align-#{$k} {
    align-items: $v;
  }
}

.st-not-interactive {
  pointer-events: none;
  user-select: none;
}
