.st-label {
  display: block;
  // display: inline-block;
  width: 120px;
  margin-right: 10px;
  margin-bottom: 8px;
  color: var(--color-dark);
  font-size: 13.5px;
  line-height: 20px;

  &.st-label-asterisk::after {
    padding-left: 4px;
    color: var(--color-danger);
    font-size: small;
    content: '*';
  }
}

.st-form-content {
  // padding-left: 130px;
}

.st-form-item {
  .st-error-message {
    display: block;
    margin-bottom: 8px;
    color: var(--color-danger);
    font-size: 12.7px;
    line-height: 1;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.1s;
  }

  &.st-form-item--error {
    .st-error-message {
      transform: scaleY(1);
    }
  }
}
