.st-slider {
  position: relative;
  width: 100%;
  user-select: none;
  touch-action: none;
}
.st-slider__input-el {
  position: absolute;
  opacity: 0;
}
.st-slider__rail {
  position: relative;
  width: 100%;
  height: 30px;

  &::before {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark-fade-100);
    border-radius: 999px;
    transform: translateY(14px);
    content: '';
  }
}
.st-slider__fill {
  position: absolute;
  top: 14px;
  height: 2px;
  background-color: var(--color-primary-fade-200);
  border-radius: 999px;
}

.st-slider__thumb {
  position: absolute;
  top: 9px;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid var(--color-primary-fade-200);
  border-radius: 50%;
  box-shadow: 0 0 0 0 var(--color-primary-fade-100);
  transform: translateX(-50%);
  transition: box-shadow 0.1s;
}

.st-slider__input-el:focus-visible + .st-slider__rail,
.st-slider__rail:hover {
  .st-slider__thumb {
    box-shadow: 0 0 0 5px var(--color-primary-fade-100);
  }
}

.st-slider--active .st-slider__rail .st-slider__thumb {
  box-shadow: 0 0 0 10px var(--color-primary-fade-100);
}

.st-slider__tooltip {
  position: absolute;
  top: -34px;
  // 16px thumb width, exclude 2px border
  left: 6px;
  display: inline-block;
  min-width: 32px;
  padding: 4px;
  text-align: center;
  background-color: var(--color-dark-fade-100);
  border-radius: 2px;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  opacity: 0;
  transition: transform 0.1s, opacity 0.1s;
}
.st-slider__input-el:focus-visible + .st-slider__rail .st-slider__tooltip,
.st-slider:hover .st-slider__tooltip,
.st-slider--active .st-slider__tooltip {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}

.st-slider__labels {
  position: relative;
  transform: translateY(13px);
}
.st-slider__label-item {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  &::before {
    position: relative;
    left: 50%;
    display: block;
    width: 4px;
    height: 4px;
    background-color: salmon;
    border-radius: 50%;
    transform: translateX(-50%);
    content: '';
  }
}
.st-slider__label-item__inner {
  position: absolute;
  top: 15px;
  font-size: 14px;
  transform: translateX(-50%);
}
